@charset "UTF-8";

img, embed, object, video
{
  max-width: 100%;
}

html
{
  box-sizing: border-box;
}

*, *::before, *::after
{
  box-sizing: inherit;
}

body
{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	background-color: #fff;
	font-size: 100%;
}

h2
{
  font-family: 'Alfa Slab One', cursive;
  font-weight: bold;
  font-size:2em;
  letter-spacing: .1em;
}

h3
{
  font-family: 'Alfa Slab One', cursive;
  font-weight: bold;
  font-size:1.5em;
  letter-spacing: .1em;
  color: #8fc004;
  line-height: 30px;
}

p
{
  line-height: 1.8em;
}

a
{
  text-decoration: none;
  color:#ffffff;
  transition:all .1s linear 0s;
}

a:hover
{
text-decoration:underline;
}

li
{
  font-family: 'Raleway', sans-serif;
}


hr
{
 color: #8fc004;
 margin-top: 40px;
}

/* Class */

.hidden
{
  display: none;
}

.welcome
{
padding:260px 0 0 20px;
width: 50%;
}

.welcomeText
{
  color:#fff;
  font-family: 'Alfa Slab One', cursive;
  font-weight: bolder;
  font-size: 1.7em;
  line-height: 25px;
  letter-spacing: 4px;
  text-shadow: -2px 2px 4px #000000;
  margin-bottom: 20px;
}

.welcomebut
{
  border: solid 1px #fff;
  background-color: rgba(143,192,4,.4);
	display: block;
	width: 120px;
	color: #fff;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
  font-family: arial, helvetica, sans-serif;
}

.welcomebut:hover
{
  background-color: rgba(143,192,4,.2);
}

.flavourPic
{
	padding-top: 10px;
	height: 300px;
	background-image: url(../images/pinacolada-m.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.pinacolada
{
  color: #000000;
  letter-spacing: .2em;
  font-size:1.5em;
  text-align: center;
  margin: 0 auto;
  margin-top: 110px;
  width:50%;
  animation: pina 3s ease alternate infinite;
}

@keyframes pina {
  90% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.3);
  }
}

.flavourText
{
  margin: 30px 10px 0 10px;
}

.brewText
{
  margin: 30px 10px 0 10px;
}

.bold
{
  font-size: 18px;
  color:#0f6655;
}

.promoText
{
padding-top: 40px;
}

.promoText1
{
margin-top: 40px;
background-color: #698d03;
padding:20px;
color: #ffffff;
}

.promoHead
{
  color: #ffffff;
}

.promoP
{
  margin: 20px 10px 0 10px;
}


.footermenu
{
  text-align: center;
}

.footermenu li
{
  padding-bottom: 10px;
}

.footermenu2
{
  text-align: center;
}

.footermenu2 li
{
  padding-bottom: 10px;
}



/* ID */

#container
{
  max-width: 1200px;
  margin: 0px auto;
}

#mainHeader
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(65, 65, 65, 0.8);
  position:relative;
  top:0;
  z-index: 2;
}

#burgerCon
{
  display: none;
}

#burgerCon.slideToggle
{
  display: block;
  position:absolute;
}

#navCon button
{
  background: url(../images/burger.svg) center no-repeat;
  border: 0px;
  width: 20px;
  height: 20px;
  transition: all 400ms ease;
  margin:25px 20px 0 0;
}


 #mainNav
 {
  display: block;
  color: #ffffff;
  background-color: rgba(65, 65, 65, 0.8);
  margin-top:35px;
  margin-left: -140px;
  text-align: center;
}

#mainNav li
 {
  padding:20px 30px 20px 30px;
  font-weight: bold;
  font-size: 14px;
 }

#mainNav li:last-child { border-bottom: none;}
#mainNav li a:hover { color: #8fc004; }


#logo
{
margin: 10px 0 10px 10px;
}

#logoDesktop
{
  display: none;
}


#featuredImage
{
  margin: auto;
  margin-top: -80px;
  position: relative;
  z-index: 0;
  background-image: url(../images/pro1-m.jpg);
  background-repeat: no-repeat;
	background-position: center;
  height:516px;
}

#flavour
{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

#featuredText
{
margin-top: 40px;
text-align: center;
}

#brewSec
{
margin-top: 40px;
text-align: center;
}


#promoCon
{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  text-align: center;
}


#mainFooter
{
  display: flex;
  flex-direction: column;
  height:370px;
  margin: 0 auto;
  background-image: linear-gradient(#8dbe03,#414141);
  margin-top: 60px;
  padding-top: 30px;
}

#mainFooter a
{
  color:#ffffff;
  font-size: .7em;
  text-decoration: none;
}

#mainFooter a:hover
{
  color:#000000;
}

#socialMedia
{
  display: flex;
  flex-direction: row;
  padding-top:30px;
  justify-content: center;
}
#socialMedia li
{
  padding-left: 30px;
}

@media screen and (min-width: 540px) {

  .welcome
  {
    padding:280px 0 0 20px;
  }
}

@media screen and ( min-width: 630px) {

  .welcome
  {
    padding:310px 0 0 20px;
  }
}

@media screen and (min-width: 768px) {

  #burgerCon
  {
    display: block;
  }

  #button
  {
    display: none;
  }

  #mainHeader
  {
    display: flex;
    flex-direction: row;
    background-color: rgba(65, 65, 65, 0.8);
    margin: 0px auto;
    max-width:1140px;
  }

  #logo
  {
    margin-right: auto;
    padding: 10px 0 0 20px;
  }


  #mainNav
  {
    display: flex;
    flex-direction: row;
    background-color:transparent;
    margin-right: 15px;
  }

  #mainNav li
   {
    padding:0 10px 0 10px;
    font-weight: bold;
    margin-left: 10px;
   }

  .navItem a
  {
    font-size: 14px;
  }

  #featuredImage
  {
    background-image: url(../images/pro1-Ipad.jpg);
    height:833px;
  }

  .welcome
  {
  padding:400px 0 0 40px;
  width: 40%;
  }

  .welcomeText
  {
    font-size: 2.5em;
    line-height: 45px;
  }

  .welcomebut
  {
  	width: 150px;
  	padding: 15px 0;
  	font-size: 18px;
  }

  .flavourPic
  {
  	height: 460px;
  	background-image: url(../images/pinacolada.jpg);
  }

  .pinacolada
  {
    letter-spacing: .2em;
    font-size:2em;
    text-align: center;
    margin: 0 auto;
    margin-top: 190px;
    width:50%;
  }

  #mainFooter
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:200px;
    margin: 0 auto;
    background-image: linear-gradient(#8dbe03,#414141);
    margin-top: 60px;
    padding-top: 20px;
  }

  .footermenu
  {
    flex-direction:column;
    padding-left: 60px;
  }

  .footermenu2
  {
    flex-direction:column;
  }

  .footermenu2 li
  {
    padding-bottom: 20px;
  }

  .footermenu li
  {
    padding-bottom: 20px;
  }

  #socialMedia
  {
    display: flex;
    flex-direction: row;
    padding-top:50px;
    padding-right: 60px;

  }
  #socialMedia li
  {
    padding-left: 30px;
  }
}

  @media screen and (min-width: 970px) {

    .welcome
    {
    padding:500px 0 0 40px;
    width: 50%;
    }
  }


  @media screen and (min-width: 1140px) {

    h3
    {
      font-size:1.8em;
    }

    #mainHeader
    {
      display: flex;
      flex-direction: row;
      background-color: rgba(65, 65, 65, 0.8);
      margin: 0px auto;
      max-width:1200px;
      height:100px;
    }

    #logo
    {
      display: none;
    }

    #logoDesktop
    {
      display: block;
      margin-right: auto;
      padding: 20px 0 0 20px;
    }

    #mainNav
    {
      display: flex;
      flex-direction: row;
      background-color:transparent;
      margin-right: 25px;
    }

    #mainNav li
     {
      padding:0 10px 0 10px;
      margin: 5px 0 0 20px;
     }

     .navItem a
     {
       font-size: 18px;
     }


    #featuredImage
    {
      background-image: url(../images/pro1.jpg);
      height:1000px;
      margin-top: -100px;
    }
    .welcome
    {
    padding:600px 0 0 40px;
    }

    .welcomeText
    {
      font-size: 3em;
      line-height: 55px;
    }

    .welcomebut
    {
    	width: 200px;
    	padding: 25px 0;
    	font-size: 22px;
    }

    #brewSec
    {
      width:700px;
      margin: 0px auto;
      margin-top: 60px;
    }

    #flavour
    {
      width:700px;
      margin: 0px auto;
      margin-top: 60px;
    }

    .promoText
    {
      width:700px;
      margin: 0px auto;
      margin-top: 60px;
    }

    .promoText1
    {
      width:700px;
      margin: 0px auto;
      margin-top: 60px;
    }

    .footermenu
    {
      padding-left: 150px;
    }

    #socialMedia
    {
      padding-right: 150px;
    }
  }





















/*////////////page2////////////*/
